*{
margin:0;
padding:0

}
html, body{

	width:1423px;
	height:100%;
	font-family:Georgia;
	font-size:12px;
	
}


li:not(.li){
	
	list-style:none;
	float:left;
	
	
}
/*Header*/

#header_box{
	width:100%;
	height:35px;
	background-color:#fff;
	color:#696969;
	border-bottom:1px solid #000;
	font-family:Georgia;
	font-size:12pt;
	line-height:12px;
	
	
	
}

.contact:last-child{
	
	padding-left:52px;
	
}
#contacts{
	display:inline-block;
	
	
	
}


.contact{
	padding-left:20px; 
	padding-top:12px;
	display:inline-block;
	
	
}

#search_box{
	display:inline-block;
	width:224px;
	height:25px;
    background-color:#e1e1e1;
	border-radius:12.5px;
	
}
#search_content{
	float:right;
	display:inline-block;
	padding-right:20px; 
	padding-top:5px;
}
#text{
	
	width:180px;
	height:16px;
	outline:none;
	border:0;
	margin-left:12px;
	background-color:transparent;
	font-family:Georgia;
	
	
}
#foto{
	
	width:19px;
	height:19px;
	background-image:url("allrounder.png");
	float:right;
	margin-right:5px;
	cursor:pointer;
	
}
.searches{
	margin-top:3px;
	display:inline-block;

}

/*MENU*/
#h{text-transform:uppercase; font-weight:1; font-size:21pt;}
#h:first-letter{font-size:28pt;}

#menu_box{
    
	width:100%;
	height:95px;
	background-color:#222;
	border-bottom:2.5px solid #7c9c37;
	color:#fff;
	

}


#heading{
	display:inline-block;
	margin-left:20px;
	margin-top:20px;
	
}

#menu_bar{
	display:inline-block;
	float:right;
	margin-top:42px;

	
	
	
	
}

.menus{
	padding:5px 20px 0 20px;
	height:30px;
	cursor:pointer;
	
	
}
.menus:hover{
	
color:#7c9c37;
	
	
	
	
}
ul li{
	
height:31px;
	
	
}
#menu_bar ul li:not(:last-child){
	
	
	border-right:1px solid #828282;
	
	
	
}

.menu{
	text-transform:uppercase;
	font-weight:1;
	font-size:12px;
	padding-bottom:1px;
	
	
	
}

.small{
	font-family:Arial;
	color:#ccc;
	
	
	
	
}

/*SLİDER*/

#slider{
	width:1423px;
	background-color:#333;
	overflow:hidden;
	
	
	
	
}
 
 #slider_x{
     background-color:#555;
	 display:block;
     width:5000px;
	 
	
  
	 
 }
 
 #slider .sliders{
	 
	 float:left;
	 width:1950px;
	 height:380px;
	 
	 
 }
 #slide_{
	 
	background-image:url("slider.png");
	 
	 
 } 
 #slidex{
	 
	background-image:url("sliderx.png");
	 
	 
 }
 
 #arrow_left{

	 background-image:url("arrow_left.png");
     margin-left:20px;
 } 
 
 #arrow_right{
	
	 background-image:url("arrow_right.png");
	 margin-left:1342px;
	 float:right;
 
 }
 .slide{
	height:380px;	 
 }
.arrow{
	 position:absolute;
	 width:53px;
	 height:53px;
	 z-index:100;
	 margin-top:150px;
	 cursor:pointer;
	 display:inline-block;
	
	
}

/*ARTİCLE*/
#article{
	
	font-family:Georgia;
	font-size:28pt;
	text-align:center;
	font-style:italic;
	color:#595959;
	padding:73px 45px;
	
	
}

#line{
	width:100%;
	height:6px;
	background-image:url("line.png");
	background-size:cover;
	background-position:center;
	
	
}

#portfolio{
    padding-top:73px;
	padding-left:75px;
	height:500px;
	
	
	
	
}

.cards{
	
	float:left;
	display:block;
	margin:0 40px;
	width:225px;
	height:258px;
	background-color:#f0f0f0;
	
}


.card{
	
	width:100%;
	height:140px;
	background-color:#333;
	
	
}
#c{

	margin-bottom:73px;
    margin-top:73px;
	
	
	
	
}

.paragraph{
	padding-top:5px;
	padding-left:12px;

	
	
}
#articles{
	
	padding-top:73px;
	display:flex;
	justify-content:space-around;
}
.u{

	width:47%;
	float:left;
	
	
	
	
	
	
	
	
	
	
	
}

.u:first-child{
	
	margin-left:1%;
	
}

.u:last-child{
	
	margin-right:1%;
	
	
}

#article_top{
	
	
	height:35px;
    background-color:#fff;
    border-bottom:1px solid #e2e2e2;	
	
	
	
}

.i{
	
    padding-top:20px;
	width:50%;
	height:150px;
	background-color:#fff;
	display:block;
	float:left;
	

	
	
	
	
}

#pt{
	display:block;
	float:left;
	width:48px;
	height:48px;
	background-color:#353535;
	
	
}
.articles{
	
	width:154px;
	padding-left:10px;
	float:left;
	
	
}

.g{
	padding-bottom:5px;
	color:#7c9c37;
	font-size:14px;
	
	
	
}

.photo_{
	width:50%;
	height:350px;
	float:left;
	display:block;
}

.photos{
	width:325px;
	margin-top:20px;
	height:225px;
	background-color:#e2e2e2;
	margin-bottom:12px;
	
	
}
.photo_:last-child .photos{
	
     float:right;
	
	
}

#articles{
	
     padding-bottom:59px;
	
	
}

#footer{
	line-height:20px;
	width:100%;
	height:530px;
	background-color:#222;
	color:#666;
	
	
	
	
	
}

.foote{
	padding:28px 0;
	font-size:14px;
	
	display:block;
	
	
	
}

.li{
	
	height:28px;
	line-height:28px;
	display:block;
	color:#7c9c37;
	border-bottom:1px solid #3a3a3a; 
	 
	 
}

#phot{
	
	width:225px;
	height:100px;
	background-color:#222;
	border:2.5px solid #333;
	margin-bottom:28px;
	
	
}

#im{
	margin:5px 0 0 5px;
	width:215px;
	height:90px;
	background-color:#333;
	
	
	
}

.spn{
	display:block;
	color:#7c9c37;
	cursor:pointer;
	margin:5px 0;
	
	
	
}



.cnt{
	
	display:block;
	
	
}

.colon{
	width:235px;
    margin:0 58px;
    float:left;
	
	
	
	
}

.articele{
	display:block;
	padding-bottom:20px;
	
	
}

.writ{
	outline:none;
	padding:0 0 0 10px;
	margin:5px 0;
	width:235px;
	height:29px;
	border:none;
	border-radius:5px;
	background-color:#333;
	color:#807d77;
	
	
	
	
}

#sbm{
	margin:5px 0;
	cursor:pointer;
	font-size:14px;
	color:#fff;
	font-family:Georgia;
	width:80px;
	height:29px;
	border-radius:5px;
	outline:none;
	border:none;
	background-color:#c7c937;
	
}

#cr{
	box-shadow: 0 -1px #000;
    border-top:1px solid #3a3a3a;
	background-color:#222;
	color:#666;
	width:100%;
	height:58px;
	
	
}

#cor{

	line-height:57px;
	padding-left:20px;
	
	
	
}

#template{
	padding-right:20px;
	line-height:57px;
	float:right;
	
	
}






















































































